.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: $titlte-color;
}

.section__title--mb{
  margin-bottom: 50px;
}