.burger {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  color: $title-color ;
  border: none;
  background: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burger__icon{
  width: 40px;
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    overflow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .burger:active & {
    color: $accent-color;
  }

  &--open{
    opacity: 1;
    overflow: visible;
    transform: scaleX(1);

    .burger.active &{
      opacity: 0;
      overflow: hidden;
      transform: scaleX(0);
    }
  }

  &--close{
    opacity: 0;
    overflow: hidden;
    transform: rotateZ(180deg) scaleX(0);

    .burger.active &{
      opacity: 1;
      overflow: visible;
      transform: rotateZ(0deg) scaleX(1);
    }
  }
}