// %list {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

// %link {
//   display: block;
//   text-decoration: none;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// %link {
//   display: block;
//   text-decoration: none;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// %link:hover,
// %link:focus {
//   color: $accent-color;
// }



