  $bg-color: #fff;
  $dark-bg-color: #2F303A;
  $accent-color: #2196F3;
  $main-txt-color: #757575;
  $titlte-color: #212121;
  $second-txt-color: #fff;
  $btn-accent-color: #188CE8;
  $btn-bg: #F5F4FA;
  $section-bg: #F5F4FA;
  $card-brdr-color: #eee;
  $bg-img: #C4C4C4;
  $icon-color: #AFB1B8;
  $footer-bg-icon: rgba(255, 255, 255, 0.1);
  $our-works-title: rgba(47, 48, 58, 0.8);
  $card-img-bg: rgba(33, 150, 243, 0.9);